{% load staticfiles %}
<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <title>Internet Of Things -Si2Chip</title>
        <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link href="/static/css/font-awesome.min.css" media="screen" rel="stylesheet">
        <link data-turbolinks-track="true" href="/static/css/application.css" media="screen" rel="stylesheet">
        <script src='/static/js/angular.min.js'></script>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/validate.js"></script>
        <link rel="stylesheet" href="/static/css/AdminLTE.css">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/highcharts-3d.js"></script>
        <style>
            #datepicker > span:hover {
                cursor: pointer;
            }
            #datepicker2 > span:hover {
                cursor: pointer;
            }
            #datepicker3 > span:hover {
                cursor: pointer;
            }
            #datepicker4 > span:hover {
                cursor: pointer;
            }
        </style>
        <script type="text/javascript">
            function frm_valid() {
                // validate  form on keyup and submit
                f1_val = $("#search1").validate({
                    rules: {
                        'uid': {
                            required: true
                        },
                        'sdate': {
                            required: true
                        }
                    }
                });
                var x = f1_val.form();
                return x;
            }
            ;
            function frm_valid2() {
                // validate  form on keyup and submit
                f1_val = $("#search2").validate({
                    rules: {
                        'uid2': {
                            required: true
                        },
                        'sdate2': {
                            required: true
                        }
                    }
                });
                var x = f1_val.form();
                return x;
            }
            ;
            function frm_valid3() {
                // validate  form on keyup and submit
                f1_val = $("#search3").validate({
                    rules: {
                        'uid3': {
                            required: true
                        },
                        'sdate3': {
                            required: true
                        }
                    }
                });
                var x = f1_val.form();
                return x;
            }
            ;
            function frm_valid4() {
                // validate  form on keyup and submit
                f1_val = $("#search4").validate({
                    rules: {
                        'uid4': {
                            required: true
                        },
                        'sdate4': {
                            required: true
                        }
                    }
                });
                var x = f1_val.form();
                return x;
            }
            ;
            $(document).ready(function () {
                $("#datepicker").datepicker({
                    autoclose: true,
                    todayHighlight: true
                });

                $("#datepicker2").datepicker({
                    autoclose: true,
                    todayHighlight: true
                });

                $("#datepicker3").datepicker({
                    autoclose: true,
                    todayHighlight: true
                });

                $("#datepicker4").datepicker({
                    autoclose: true,
                    todayHighlight: true
                });

                $("#b1").click(function () {
                    var z = frm_valid();
                    if (z == true) {
                        var d = document.getElementById("date").value;
                        var date = d.slice(0, -2);
                        var uid = document.getElementById("userid").value;
                        var ur = "http://bharatsush.pythonanywhere.com/attendance/";
                        var url = ur + uid + "/" + date + "?format=json";
                        var processed_json = new Array();
                        $.getJSON(url, function (data) {
                            // Populate series
                            for (i = 0; i < data.length; i++) {
                                processed_json.push([data[i].attendance_date, data[i].working_hrs]);
                            }
                            // draw chart
                            $('#areaChart').highcharts({
                                chart: {
                                    type: 'area',
                                    margin: [30, 30, 55, 30],
                                    options3d: {
                                        enabled: true,
                                        alpha: 15,
                                        beta: 15,
                                        depth: 50
                                    }
                                },
                                plotOptions: {
                                    column: {
                                        depth: 25
                                    }
                                },
                                title: {
                                    text: "Employee working  hours"
                                },
                                xAxis: {
                                    type: 'category',
                                    allowDecimals: false,
                                    title: {
                                        text: "date"
                                    }
                                },
                                yAxis: {
                                    title: {
                                        text: "Working hours"
                                    }
                                },
                                series: [{
                                        name: 'Working hours per day:',
                                        data: processed_json
                                    }],
                                credits: {
                                    text: 'Si2Chip.com',
                                    href: 'https://si2chip.com/',
                                    style: {
                                        color: '#D62020'
                                    }
                                }
                            });
                        });
                    } else {
                        return false;
                    }
                });
                $("#b2").click(function () {
                    var z = frm_valid2();
                    if (z == true) {
                        var d = document.getElementById("date2").value;
                        var date = d.slice(0, -2);
                        var uid = document.getElementById("userid2").value;
                        var ur = "http://bharatsush.pythonanywhere.com/attendance/";
                        var url = ur + uid + "/" + date + "?format=json";
                        var processed_json = new Array();
                        $.getJSON(url, function (data) {
                            // Populate series
                            for (i = 0; i < data.length; i++) {
                                processed_json.push([data[i].attendance_date, data[i].working_hrs]);
                            }
                            // draw chart
                            $('#barChart').highcharts({
                                chart: {
                                    type: 'bar',
                                    margin: [30, 30, 55, 30],
                                    options3d: {
                                        enabled: true,
                                        alpha: 15,
                                        beta: 15,
                                        depth: 50
                                    }
                                },
                                plotOptions: {
                                    column: {
                                        depth: 25
                                    }
                                },
                                title: {
                                    text: "Employee working  hours"
                                },
                                xAxis: {
                                    type: 'category',
                                    allowDecimals: false,
                                    title: {
                                        text: "date"
                                    }
                                },
                                yAxis: {
                                    title: {
                                        text: "Working hours"
                                    }
                                },
                                series: [{
                                        name: 'Working hours per day:',
                                        data: processed_json
                                    }],
                                credits: {
                                    text: 'Si2Chip.com',
                                    href: 'https://si2chip.com/',
                                    style: {
                                        color: '#D62020'
                                    }
                                }
                            });
                        });
                    } else {
                        return false;
                    }
                });
                $("#b3").click(function () {
                    var z = frm_valid3();
                    if (z == true) {
                        var d = document.getElementById("date3").value;
                        var date = d.slice(0, -2);
                        var uid = document.getElementById("userid3").value;
                        var ur = "http://bharatsush.pythonanywhere.com/attendance/";
                        var url = ur + uid + "/" + date + "?format=json";
                        var processed_json = new Array();
                        $.getJSON(url, function (data) {
                            // Populate series
                            for (i = 0; i < data.length; i++) {
                                processed_json.push([data[i].attendance_date, data[i].working_hrs]);
                            }
                            // draw chart
                            $('#lineChart').highcharts({
                                chart: {
                                    type: 'line',
                                    margin: [30, 30, 55, 30],
                                    options3d: {
                                        enabled: true,
                                        alpha: 15,
                                        beta: 15,
                                        depth: 50
                                    }
                                },
                                plotOptions: {
                                    column: {
                                        depth: 25
                                    }
                                },
                                title: {
                                    text: "Employee working  hours"
                                },
                                xAxis: {
                                    type: 'category',
                                    allowDecimals: false,
                                    title: {
                                        text: "date"
                                    }
                                },
                                yAxis: {
                                    title: {
                                        text: "Working hours"
                                    }
                                },
                                series: [{
                                        name: 'Working hours per day:',
                                        data: processed_json
                                    }],
                                credits: {
                                    text: 'Si2Chip.com',
                                    href: 'https://si2chip.com/',
                                    style: {
                                        color: '#D62020'
                                    }
                                }
                            });
                        });
                    } else {
                        return false;
                    }
                });
                $("#b4").click(function () {
                    var z = frm_valid4();
                    if (z == true) {
                        var d = document.getElementById("date4").value;
                        var date = d.slice(0, -2);
                        var uid = document.getElementById("userid4").value;
                        var ur = "http://bharatsush.pythonanywhere.com/attendance/";
                        var url = ur + uid + "/" + date + "?format=json";
                        var processed_json = new Array();
                        $.getJSON(url, function (data) {
                            // Populate series
                            for (i = 0; i < data.length; i++) {
                                processed_json.push([data[i].attendance_date, data[i].working_hrs]);
                            }
                            // draw chart
                            $('#columnChart').highcharts({
                                chart: {
                                    type: 'column',
                                    margin: [30, 30, 55, 30],
                                    options3d: {
                                        enabled: true,
                                        alpha: 15,
                                        beta: 15,
                                        depth: 50
                                    }
                                },
                                plotOptions: {
                                    column: {
                                        depth: 25
                                    }
                                },
                                title: {
                                    text: "Employee working  hours"
                                },
                                xAxis: {
                                    type: 'category',
                                    allowDecimals: false,
                                    title: {
                                        text: "date"
                                    }
                                },
                                yAxis: {
                                    title: {
                                        text: "Working hours"
                                    }
                                },
                                series: [{
                                        name: 'Working hours per day:',
                                        data: processed_json
                                    }],
                                credits: {
                                    text: 'Si2Chip.com',
                                    href: 'https://si2chip.com/',
                                    style: {
                                        color: '#D62020'
                                    }
                                }
                            });
                        });
                    } else {
                        return false;
                    }
                });
            });
        </script>
    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="http://bharatsush.pythonanywhere.com/">
                            <img alt="Si2Chip logo" height="45" id="nav-si2chip-logo" src="/static/images/si2chipcompanylogo.png" style="padding: 0 8px; margin-top: 7px;margin-bottom:7px;" width="200">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="http://bharatsush.pythonanywhere.com/dashboard/" id="nav-charts">Charts</a></li>
                            <li><a href="invoice.html" id="nav-invoice">Invoice</a></li>
                            <li><a href="#" id="nav-channels-before">Channels</a></li>
                            <li><a href="#" id="nav-apps">Apps</a></li>
                            <li><a href="#" id="nav-blog">Blog</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nav-support">Support <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" target="_blank" id="nav-support-doc">Documentation</a></li>
                                    <li><a href="#" target="_blank" id="nav-support-tutorials">Tutorials</a></li>
                                    <li><a href="#" target="_blank" id="nav-support-examples"><span class="translation_missing" title="translation missing: en.Examples">Examples</span></a></li>
                                    <li><a href="#" target="_blank" id="nav-support-forum">Forum</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="login.html" id="nav-sign-in">Sign In</a></li>
                            <li><a href="signup.html" id="nav-sign-up">Sign Up</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- AREA CHART -->
                                <div class="box box-primary bs">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title">Area Chart</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                            <form role="form" name="search1" id="search1">
                                                <div class="form-group">
                                                    <label for="userid" class="col-sm-1 control-label" style="width: 80px">UserID:</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" name="uid" id="userid" placeholder="Enter User Id">
                                                        <label for="userid" class="error"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="date" class="col-sm-1 control-label">Date:</label>
                                                    <div class="col-sm-4">
                                                        <div id="datepicker" class="input-group date" data-date-format="yyyy/mm/dd">
                                                            <input class="form-control" type="text" readonly name="sdate" id="date" placeholder="Select Date"/>
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" style="font-size: 18px;color: #BB3D3D"></i></span>
                                                        </div>
                                                        <label for="date" class="error"></label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <button type="button" class="btn btn-primary btn-sm" id="b1">Submit</button>
                                                </div>
                                            </form>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="chart">
                                            <div id="areaChart"></div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                                <!-- BAR CHART -->
                                <div class="box box-danger">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title">Bar Chart</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                            <form role="form" name="search2" id="search2">
                                                <div class="form-group">
                                                    <label for="userid2" class="col-sm-1 control-label" style="width: 80px">UserID:</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" name="uid2" id="userid2" placeholder="Enter User Id">
                                                        <label for="userid2" class="error"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="date2" class="col-sm-1 control-label">Date:</label>
                                                    <div class="col-sm-4">
                                                        <div id="datepicker2" class="input-group date" data-date-format="yyyy/mm/dd">
                                                            <input class="form-control" type="text" readonly name="sdate2" id="date2" placeholder="Select Date"/>
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" style="font-size: 18px;color: #BB3D3D"></i></span>
                                                        </div>
                                                        <label for="date2" class="error"></label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <button type="button" class="btn btn-primary btn-sm" id="b2">Submit</button>
                                                </div>
                                            </form>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="chart">
                                            <div id="barChart"></div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div><!-- /.col (LEFT) -->
                            <div class="col-md-6">
                                <!-- LINE CHART -->
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title">Line Chart</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <div class="row" style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                                <form role="form" name="search3" id="search3">
                                                    <div class="form-group">
                                                        <label for="userid3" class="col-sm-1 control-label" style="width: 80px">UserID:</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" class="form-control" name="uid3" id="userid3" placeholder="Enter User Id">
                                                            <label for="userid3" class="error"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="date3" class="col-sm-1 control-label">Date:</label>
                                                        <div class="col-sm-4">
                                                            <div id="datepicker3" class="input-group date" data-date-format="yyyy/mm/dd">
                                                                <input class="form-control" type="text" readonly name="sdate3" id="date3" placeholder="Select Date"/>
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" style="font-size: 18px;color: #BB3D3D"></i></span>
                                                            </div>
                                                            <label for="date3" class="error"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <button type="button" class="btn btn-primary btn-sm" id="b3">Submit</button>
                                                    </div>
                                                </form>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="chart">
                                                <div id="lineChart"></div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                                <!-- COLUMN CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title">Column Chart</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <div class="row" style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                                <form role="form" name="search4" id="search4">
                                                    <div class="form-group">
                                                        <label for="userid4" class="col-sm-1 control-label" style="width: 80px">UserID:</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" class="form-control" name="uid4" id="userid4" placeholder="Enter User Id">
                                                            <label for="userid4" class="error"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="date4" class="col-sm-1 control-label">Date:</label>
                                                        <div class="col-sm-4">
                                                            <div id="datepicker4" class="input-group date" data-date-format="yyyy/mm/dd">
                                                                <input class="form-control" type="text" readonly name="sdate4" id="date4" placeholder="Select Date"/>
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" style="font-size: 18px;color: #BB3D3D"></i></span>
                                                            </div>
                                                            <label for="date4" class="error"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <button type="button" class="btn btn-primary btn-sm" id="b4">Submit</button>
                                                    </div>
                                                </form>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="chart">
                                                <div id="columnChart"></div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div><!-- /.col (RIGHT) -->
                        </div><!-- /.row -->
                    </section><!-- /.content -->
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p>
                    <span class="hidden-xs pull-left">
                        <a href="#" title="Open Source Internet of Things" target="_blank">ThingSpeak.com</a> |
                        <a href="#" title="The ThingSpeak Blog covering the web of things" target="_blank">Blog</a> |
                        <a href="#" title="Open discussion forum for ThingSpeak" target="_blank">Forum</a> |
                        <a href="#" target="_blank">Documentation</a> |
                        <a href="#" target="_blank">Tutorials</a> |
                        <a href="#" title="Internet of Things RSS Feed" target="_blank">RSS Feed</a> |
                        <a href="#" title="ThingSpeak Terms of Use" target="_blank">Terms</a> |
                        <a href="#" title="ThingSpeak Privacy Policy" target="_blank">Privacy Policy</a>
                    </span>
                    <span class="pull-right">
                        © 2016 <a href="https://www.si2chip.com/" target="_blank">Si2Chip.</a>
                    </span>
                </p>
            </div>
        </div>
        <script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-52048065-1', 'si2chip.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
