 <!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Si2chip dashboard</title>
		<style>
		
		</style>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>		
	<script src="http://code.highcharts.com/highcharts.js"></script>
	
	<script type="text/javascript">
        $(function () {
				var url = 'http://127.0.0.1:8000/attendance/1030/2016/04/'
                var processed_json = new Array();   
                $.getJSON(url, function(data) {
                    // Populate series
                    for (i = 0; i < data.length; i++){
                        processed_json.push([data[i].attendance_date, data[i].working_hrs]);
                    }
                 
                    // draw chart
                    $('#container2').highcharts({
                    chart: {
                        type: "column"
                    },
                    title: {
                        text: "Employee working  hours"
                    },
                    xAxis: {
                        type: 'category',
                        allowDecimals: false,
                        title: {
                            text: "date"
                        }
                    },
                    yAxis: {
                        title: {
                            text: "Working hours"
                        }
                    },
                    series: [{
	                    name: 'Working hours per day:',
                        data: processed_json
                    }]
                }); 
            });
        });
        
        
        $(function () {
				var url = 'http://127.0.0.1:8000/attendance/1030/2016/04/'
                var processed_json = new Array();   
                $.getJSON(url, function(data) {
                    // Populate series
                    for (i = 0; i < data.length; i++){
                        processed_json.push([data[i].attendance_date, data[i].working_hrs]);
                    }
                 
                    // draw chart
                    $('#container1').highcharts({
                    chart: {
                        type: "column"
                    },
                    title: {
                        text: "Employee working  hours"
                    },
                    xAxis: {
                        type: 'category',
                        allowDecimals: false,
                        title: {
                            text: "date"
                        }
                    },
                    yAxis: {
                        title: {
                            text: "Working hours"
                        }
                    },
                    series: [{
	                    name: 'Working hours per day:',
                        data: processed_json
                    }]
                }); 
            });
        });
    </script>
	
</head>
<body>
   <div style=" width: 700px; font-size: 1.7em; font-weight: bold; margin: 2em auto; padding: 1em; border: 1px solid blue; border-radius: 0.5em">
	Si2chip Employee Real Time Dashboard
	</div>
    <div id="container1" style="margin-right:15%;height: 20%; width: 40%"></div>
	<div id="container2" style="margin-left: 3%;margin-top: 6%;height: 20%; width: 40%;color:#2445a2;"></div>
    
</body>
</html>